.footer {
    background-color: #00351d;
    color: #fff;
    text-align: center;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.items-footer {
    list-style: none;
    padding: 0;
    margin: 0 0 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.items-footer li {
    margin: 10px;
}

.items-footer a {
    color: black;
    text-decoration: none;
    transition: color 0.3s;
    font-weight: 700;
}

.items-footer a:hover {
    color: green;
}

.social-media {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    gap: 20px; /* Espacio entre iconos */
}

.social-media a {
    display: inline-block;
    font-size: 24px; /* Tamaño de los iconos */
    text-decoration: none;
}

.social-media i {
    transition: color 0.3s;
}

.social-media i:hover {
    transform: scale(1.2); /* Agrandar el icono al pasar el cursor */
}
